absl-py==2.1.0
AccessControl==7.0
Acquisition==6.0
aiofiles==23.2.1
aiohttp==3.9.5
aiosignal==1.3.1
altair==5.3.0
annotated-types==0.7.0
ansicon==1.89.0
anthropic==0.39.0
anyio==4.4.0
asttokens==3.0.0
astunparse==1.6.3
asyncer==0.0.7
attrs==23.2.0
AuthEncoding==5.0
Automat==24.8.1
beautifulsoup4==4.12.3
blessed==1.20.0
blinker==1.7.0
blis==1.2.1
Brotli==1.1.0
BTrees==6.0
cachetools==5.5.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
Chameleon==4.5.4
chardet==5.2.0
charset-normalizer==3.3.2
chromedriver-binary-auto==0.3.1
click==8.1.7
cloudpathlib==0.21.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
confection==0.1.5
constantly==23.10.4
contourpy==1.2.1
coverage==7.6.7
cryptography==43.0.3
cycler==0.12.1
cymem==2.0.11
dataclasses-json==0.6.7
DateTime==5.5
debugpy==1.8.12
decorator==5.1.1
defusedxml==0.7.1
distro==1.9.0
dnspython==2.6.1
DocumentTemplate==4.6
docx2txt==0.9
editdistance==0.8.1
editor==1.6.6
email_validator==2.2.0
en_core_web_lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl#sha256=293e9547a655b25499198ab15a525b05b9407a75f10255e405e8c3854329ab63
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et-xmlfile==1.1.0
executing==2.2.0
ExtensionClass==5.1
faiss-cpu==1.9.0.post1
Faker==37.1.0
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.21.1
ffmpy==0.3.2
filelock==3.15.4
filetype==1.2.0
Flask==2.2.5
Flask-Cors==5.0.0
Flask-JWT-Extended==4.7.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.53.0
fpdf==1.7.2
frozenlist==1.4.1
fsspec==2024.6.1
gast==0.5.4
gitdb==4.0.12
GitPython==3.1.44
glob2==0.7
google-ai-generativelanguage==0.6.6
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.7.2
google-pasta==0.2.0
googleapis-common-protos==1.66.0
gradio==4.37.2
gradio_client==1.0.2
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.64.1
grpcio-status==1.62.3
h11==0.14.0
h5py==3.11.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
huggingface-hub==0.23.4
humanfriendly==10.0
hyperlink==21.0.0
idna==3.7
imageio==2.34.2
importlib_resources==6.4.0
incremental==24.7.2
iniconfig==2.0.0
inputimeout==1.0.4
inquirer==3.4.0
ipykernel==6.29.5
ipython==8.31.0
itsdangerous==2.1.2
jedi==0.19.2
Jinja2==3.1.3
jinxed==1.3.0
jiter==0.7.1
joblib==1.3.2
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.3
jupyter_core==5.7.2
keras==3.3.3
keyboard==0.13.5
kiwisolver==1.4.5
langchain==0.2.11
langchain-anthropic==0.1.23
langchain-community==0.2.10
langchain-core==0.2.36
langchain-google-genai==1.0.10
langchain-huggingface==0.0.3
langchain-ollama==0.1.3
langchain-openai==0.1.17
langchain-text-splitters==0.2.2
langcodes==3.5.0
langsmith==0.1.93
language_data==1.3.0
lazy_loader==0.4
Levenshtein==0.25.1
lib_resume_builder_AIHawk @ git+https://github.com/feder-cr/lib_resume_builder_AIHawk.git@82ce12b83c67364a4ca6393701f2988ac9158855
libclang==18.1.1
llvmlite==0.43.0
lmdb==1.5.1
loguru==0.7.2
lxml==5.3.2
marisa-trie==1.2.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.7.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.3.2
MouseInfo==0.1.3
mpmath==1.3.0
multidict==6.0.5
MultiMapping==5.0
multipart==0.2.5
murmurhash==1.0.12
mutagen==1.47.0
mypy-extensions==1.0.0
namex==0.0.8
narwhals==1.34.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nltk==3.8.1
numba==0.60.0
numpy==1.26.4
ollama==0.3.3
onnxruntime==1.18.1
openai==1.37.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.5
outcome==1.3.0.post0
packaging==24.1
pafy==0.5.5
pandas==2.2.1
parso==0.8.4
PasteDeploy==3.1.0
patch-ng==1.17.4
path==16.14.0
pdfminer.six==20221105
pdfminer3==2018.12.3.0
Persistence==5.0
persistent==6.0
pillow==10.2.0
platformdirs==4.2.2
playsound==1.3.0
plotly==6.0.1
pluggy==1.5.0
pooch==1.8.2
preshed==3.0.9
prompt_toolkit==3.0.50
proto-plus==1.25.0
protobuf==4.25.3
psutil==6.0.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAutoGUI==0.9.54
pychrome==0.2.4
pycparser==2.22
pycryptodome==3.22.0
pycryptodomex==3.20.0
pydantic==2.8.0
pydantic_core==2.20.0
pydeck==0.9.1
pydub==0.25.1
PyGetWindow==0.0.9
pyglet==2.1.3
Pygments==2.18.0
PyJWT==2.10.1
PyMatting==1.1.12
PyMsgBox==1.0.9
PyMuPDF==1.25.5
PyMySQL==1.1.1
pyparsing==3.1.2
PyPDF2==3.0.1
pyperclip==1.8.2
pyreadline3==3.4.1
PyRect==0.2.0
pyresparser==1.0.6
pyrsistent==0.20.0
PyScreeze==0.1.30
PySocks==1.7.1
pytesseract==0.3.10
pytest==8.3.3
pytest-cov==6.0.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-gettext==5.0
python-multipart==0.0.9
pytube==15.0.0
pytweening==1.2.0
pytz==2024.1
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.1
RapidFuzz==3.10.1
readchar==4.2.1
redis==5.2.1
referencing==0.35.1
regex==2024.7.24
rembg==2.0.57
reportlab==4.2.2
requests==2.32.3
RestrictedPython==7.2
rich==13.7.1
roman==4.2
rpds-py==0.18.1
rsa==4.9
ruff==0.5.0
runs==1.2.2
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.4.1.post1
scipy==1.12.0
seaborn==0.13.2
selenium==4.28.1
semantic-version==2.10.0
sentence-transformers==3.3.1
setuptools==70.1.0
shellingham==1.5.4
six==1.16.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.36
srsly==2.5.1
stack-data==0.6.3
starlette==0.37.2
streamlit==1.44.1
streamlit-tags==1.2.8
subprocess.run==0.0.8
sympy==1.12.1
tenacity==8.5.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.1
tensorflow-intel==2.16.1
termcolor==2.4.0
thinc==8.3.4
threadpoolctl==3.3.0
tifffile==2024.6.18
tiktoken==0.8.0
tokenizers==0.20.3
toml==0.10.2
tomlkit==0.12.0
toolz==0.12.1
torch==2.4.1
torchvision==0.19.1
tornado==6.4.2
tqdm==4.66.4
traitlets==5.14.3
transaction==4.0
transformers==4.46.3
trio==0.26.0
trio-websocket==0.11.1
Twisted==24.7.0
typer==0.12.3
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
ultralytics==8.2.98
ultralytics-thop==2.0.6
uritemplate==4.1.1
urllib3==2.2.1
uvicorn==0.30.1
waitress==3.0.0
wasabi==1.1.3
watchdog==4.0.1
watchfiles==0.22.0
wcwidth==0.2.13
weasel==0.4.1
webdriver-manager==4.0.2
WebOb==1.8.8
websocket-client==1.8.0
websockets==13.0.1
WebTest==3.0.0
Werkzeug==2.2.3
wheel==0.43.0
win32-setctime==1.1.0
wrapt==1.16.0
WSGIProxy2==0.5.1
wsproto==1.2.0
xgboost==2.1.4
xmod==1.8.1
yarl==1.9.4
youtube-dl==2021.12.17
yt-dlp==2024.8.6
z3c.pt==4.4
zc.lockfile==3.0.post1
ZConfig==4.1
zExceptions==5.0
ZODB==6.0
zodbpickle==4.0
Zope==5.10
zope.annotation==5.0
zope.browser==3.0
zope.browsermenu==5.0
zope.browserpage==5.0
zope.browserresource==5.1
zope.cachedescriptors==5.0
zope.component==6.0
zope.configuration==5.0.1
zope.container==6.0
zope.contentprovider==6.0
zope.contenttype==5.1
zope.datetime==5.0.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.dottedname==6.0
zope.event==5.0
zope.exceptions==5.1
zope.filerepresentation==6.0
zope.globalrequest==2.0
zope.hookable==6.0
zope.i18n==5.1
zope.i18nmessageid==6.1.0
zope.interface==7.0.3
zope.lifecycleevent==5.0
zope.location==5.0
zope.pagetemplate==5.1
zope.processlifetime==3.0
zope.proxy==5.3
zope.ptresource==5.0
zope.publisher==7.0
zope.schema==7.0.1
zope.security==7.1
zope.sequencesort==5.0
zope.site==5.0
zope.size==5.0
zope.structuredtext==5.0
zope.tal==5.0.1
zope.tales==6.0
zope.testbrowser==7.0
zope.testing==5.0.1
zope.traversing==5.0
zope.viewlet==5.0
